:root {
    --bg-color: rgba(255, 255, 255, .05);
    --bg-color-opaque: rgba(255, 255, 255, .1);
    --bg-color-transparent: rgba(255, 255, 255, 0);
    --btn-margin: .25rem;
}

* {
    box-sizing: border-box;
    font-family: Consolas, monaco, monospace;
    touch-action: manipulation;
    font-size: 13px;
    /* overflow-y: scroll; */
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-areas:
        "planets    moons  suns"
        "planets    .      other"
        "time       time   nav"
        ".          .      nav"
        ".          .      hide";

    grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(30%, auto);
    grid-template-rows: minmax(0, auto) minmax(0, auto) auto 50px auto;

    gap: .15rem;
    padding: 1rem;
    pointer-events: none;
}

.hud__list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.hud__list-item {
    padding: .25rem;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: white;
    cursor: pointer;
    transition: background-color .3s;
    user-select: none;
    /* transform: translateX(100px); */

    white-space: nowrap;
    /* text-overflow: ellipsis; */

    &:hover {
        background-color: var(--bg-color-opaque);
    }

    pointer-events: auto;
}

.hud__nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;


    .hud__list {
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: flex-end;

    }

    .hud__list-item {
        margin-top: var(--btn-margin);
    }
}


.hud__time {
    grid-area: time;
    display: flex;

    .hud__list {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        .hud__list-item {
            margin-bottom: .5rem;
        }

    }
}

.hud__planets {
    grid-area: planets;
    width: max-content;

    .hud__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .hud__list-item {
        margin-bottom: var(--btn-margin);
    }
}

.hud__moons {
    grid-area: moons;

    .hud__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .hud__list-item {
        margin-bottom: var(--btn-margin);
    }
}

.hud__suns {
    grid-area: suns;
    /* overflow-y: scroll; */

    .hud__list {
        flex-direction: column;
        align-items: flex-end;
    }

    .hud__list-item {
        margin-bottom: var(--btn-margin);
    }
}

.hud__other {
    grid-area: other;
    /* overflow-y: scroll; */

    .hud__list {
        flex-direction: column;
        align-items: flex-end;
    }

    .hud__list-item {
        margin-bottom: var(--btn-margin);
        transform: translateX(85%);
        transition: transform .3s;

        &:hover {
            transform: translateX(0);
        }
    }

}

.hud__hide-toggle {
    grid-area: hide;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}