:root {
    --bg-color: rgba(255, 255, 255, .05);
    --bg-color-opaque: rgba(255, 255, 255, .1);
}

* {
    box-sizing: border-box;
    list-style: none;
    font-family: Consolas, monaco, monospace;
    /* padding: 0;
    margin: 0; */
    touch-action: manipulation;
    text-decoration: none;
}

a {
    color: white;
    opacity: .5;
    margin: 2px 15px;
    text-align: center;
}

a:hover {
    opacity: 1;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
}

.hud {
    background-color: var(--bg-color);
    padding: 2px;
    display: flex;
    align-items: center;
}

.hide-hud {
    background-color: var(--bg-color);
    position: fixed;
    display: flex;
    top: 1%;
    right: 1%;
}

#nav-hud {
    position: fixed;
    top: 1%;
    left: 5%;
}

#time-hud {
    position: fixed;
    top: 1%;
    left: 40%;
}

#hud-planets {
    position: fixed;
    flex-direction: column;
    left: 1%;
    top: 15%;
}

#hud-moons {
    position: fixed;
    flex-direction: column;
    left: 130px;
    top: 15%;
    display: none;
}

#hud-suns {
    position: fixed;
    flex-direction: column;
    top: 15%;
    right: 1%;
}

#hud-other {
    position: fixed;
    flex-direction: column;
    top: 55%;
    right: 1%;
}

@media only screen and (max-width: 600px) {
    .hud {
        background-color: var(--bg-color-opaque);
    }
    a {
        opacity: .7;
        padding: 1px;
        background-color: var(--bg-color);
    }
    #nav-hud {
        left: unset;
        top: unset;
        right: 1%;
        bottom: 1%;
        flex-direction: column-reverse;
        width: 180px;
    }
    #hud-planets {
        top: 1%;
    }
    #hud-moons {
        left: 1%;
        top: 63%;
    }
    #hud-suns {
        top: 8%;
    }
    #hud-other {
        top: 50%;
    }
    #time-hud {
        top: 1%;
        right: 1%;
        left: auto;
    }
    #plusElement,
    #minusElement {
        padding: 5px;
        font-size: 20px;
    }
    .hide-hud {
        top: 1%;
        right: 50%;
    }
}

@media only screen and (max-height: 600px) {
    .hud {
        background-color: var(--bg-color-opaque);
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
    a {
        opacity: .7;
        /* padding: 1px; */
        background-color: var(--bg-color);
    }
    #nav-hud {
        top: unset;
        left: unset;
        right: 1%;
        bottom: 1%;
        max-width: 290px;
    }
    #hud-planets {
        top: auto;
        bottom: 1%;
    }
    #hud-moons {
        top: unset;
        bottom: 1%;
        left: 15%;
    }
    #hud-suns {
        top: 1%;
    }
    #hud-other {
        top: 1%;
        right: 25%;
    }
    #time-hud {
        top: 1%;
        left: 25%;
    }
    #plusElement,
    #minusElement {
        padding: 5px;
        font-size: 20px;
    }
    .hide-hud {
        top: 1%;
        right: unset;
        left: 1%;
    }
}