:root {
    --dark-color: #182D40;
    --highlight-color: #f2a516;
    --light-color: #EBF0F2;
}

* {
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    touch-action: manipulation;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sidenav {
    border-radius: 5px;
    height: 94%;
    left: -125px;
    position: fixed;
    z-index: 1;
    top: 3%;
    background-color: rgba(255, 255, 255, .05);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    transition-delay: 4s;
}

.sidenav:hover {
    left: -10px;
    transition: left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav .btn {
        font-size: 18px;
    }
}


/* 2532x1170 pixels at 460ppi */

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    .sidenav {
        left: -10px;
    }
}

button {
    outline: none;
    border: 1px solid rgba(255, 255, 255, .1);
    color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, .0);
    margin: 10px 10px 10px 20px;
}

button:hover {
    border: 1px solid rgba(255, 255, 255, .5);
    color: white;
    transition: .2s;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}